* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #171823;
}

.wrapper {
  background-image: url(img/bitmapdark.png);
}

.theme-swicher {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.theme-swicher-img {
  background-image: url(img/sun.svg);
}

.main__subscription {
  text-align: center;
  color: #9495a5;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.194px;
}

.todo-app {
  max-width: 540px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3em;
}
.todo-app__task-creation {
  position: relative;
}
.todo-app__task-creation::before {
  content: url(img/oval-dark.svg);
  border: 1px solid #979797;
  border-radius: 50%;
}
.todo-app__task-creation-input {
  background: #393a4b;
  color: #c8cbe7;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}
.todo-app__task-list {
  background: #393a4b;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}
.todo-app__filters {
  background: #393a4b;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}
.todo-app__filters-btn {
  color: #5b5e7e;
}
.todo-app__counting {
  color: #5b5e7e;
}

li {
  border-bottom: 1px solid #979797;
}

.delete-btn {
  background-image: url(img/cross-dark.svg);
}

li input[type=checkbox] {
  border: 2px solid #979797;
}

li p {
  color: #c8cbe7;
}

li p.completed {
  color: #4d5067;
}