* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f2f2f2;
}

.wrapper {
  background-image: url(img/Bitmap.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 12vh 0;
}
@media screen and (max-width: 1250px) {
  .wrapper {
    background-size: inherit;
  }
}
@media screen and (max-width: 912px) {
  .wrapper {
    padding: 3em 0;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 980px) {
  .container {
    margin-top: -5em;
    min-width: 100vw;
    margin: 0 auto;
    padding: 0 1em;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 33.75em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3.7em;
}
.header__title {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 15px;
}
@media screen and (max-width: 860px) {
  .header__title {
    font-size: 20px;
  }
}
.header__theme-switch {
  cursor: pointer;
}

.theme-swicher {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.theme-swicher-img {
  background-image: url(img/moon.svg);
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.main__subscription {
  text-align: center;
  color: #9495a5;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.194px;
}
@media screen and (max-width: 912px) {
  .main__subscription {
    margin-top: 7.5em;
  }
}

.todo-app {
  max-width: 33.75em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3em;
}
.todo-app__task-creation {
  position: relative;
}
.todo-app__task-creation::before {
  content: url(img/oval-light.svg);
  position: absolute;
  display: block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #e3e4f1;
  border-radius: 50%;
  margin-top: 1em;
  margin-left: 1.2em;
}
.todo-app__task-creation-input {
  width: 100%;
  margin-bottom: 1.5em;
  padding: 1.8em 0 1.8em 4.5em;
  border-radius: 0.3125rem;
  background: #fff;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border: none;
}
.todo-app__task-list {
  min-height: 4em;
  border-top-right-radius: 0.3125rem;
  border-top-left-radius: 0.3125rem;
  background: #fff;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}
.todo-app__task-list-item {
  position: relative;
}
.todo-app__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-right-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  background: #fff;
  padding: 1.1em 1.5em;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-top: 0.01em solid #e3e4f1;
}
@media screen and (max-width: 912px) {
  .todo-app__filters {
    position: relative;
  }
}
.todo-app__filters-btn {
  color: #9495a5;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.194px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 1.1em;
}
.todo-app__filters-btn:last-child {
  margin-right: 0;
}
.todo-app__filters-btn:hover {
  color: #494c6b;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.todo-app__counting {
  color: #9495a5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.194px;
}

.clear {
  font-weight: 400;
}

.todo-app__filters-btn.active {
  color: #3a7cfd;
}

@media screen and (max-width: 912px) {
  .todo-app__filters-buttons {
    position: absolute;
    top: 4em;
    width: 100%;
    left: 0;
    border-radius: 5px;
    background: #fff;
    padding: 1em 1.5em;
    -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    text-align: center;
  }
}
ul {
  list-style: none;
}

li {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8% 1.5em 74% 1.5em 10%;
  grid-template-columns: 8% 74% 10%;
  gap: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 20px;
  border-bottom: 1px solid #e3e4f1;
  cursor: pointer;
}
@media screen and (max-width: 525px) {
  li {
    gap: 0.7em;
  }
}

li:hover .delete-btn {
  display: block;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.delete-btn {
  display: none;
  background-image: url(img/cross-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

@media screen and (max-width: 912px) {
  li .delete-btn {
    display: block;
  }
}
li input[type=checkbox] {
  margin-right: 8px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #e3e4f1;
  border-radius: 50%;
  cursor: pointer;
}

li input[type=checkbox]:checked {
  background: linear-gradient(120deg, rgb(85, 221, 255) 14%, rgb(192, 88, 243) 93%);
  border: none;
}

li input[type=checkbox]:hover {
  border-radius: 50px;
  border: 2px solid transparent;
  background: linear-gradient(120deg, rgb(85, 221, 255) 14%, rgb(192, 88, 243) 93%) border-box;
  /*3*/
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

li input[type=checkbox]:checked::before {
  content: url(img/check.svg);
  position: relative;
  display: block;
  right: -6px;
  top: 5px;
  width: 9px;
  height: 6px;
}

li p {
  color: #494c6b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
@media screen and (max-width: 860px) {
  li p {
    font-size: 12px;
  }
}

li p.completed {
  text-decoration: line-through;
  color: #d1d2da;
}